*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    background: hsl(233, 47%, 7%);
    padding: 200px;
}

.content-container {
    display: flex;
    flex-direction: row-reverse;
    
}

.content {
    background: hsl(244, 38%, 16%);
    width: 50%;
    border-radius: 8px 0px 0px 8px;
    padding: 50px 90px 50px 60px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 60px;
    line-height: 24px;
}

.stats {
    color: hsl(0, 0%, 100%);
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.stat-headings {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: 24px;
}

.highlight {
    color: hsl(277, 64%, 61%);
}


.image {
    width: 50%;
    background: hsl(277, 72%, 32%);
    border-radius: 0px 8px 8px 0px;
}

.desktop-image {
    width: 100%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    opacity: 0.4;
}

.mobile-image {
    display: none;
}

.proof {
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 375px){
    .content-container{
        flex-direction: row;
        flex-direction: column;
        
    }

    .container {
        padding: 20px;
        margin: 0 auto;
        align-items: center;
    }

    .image {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }

    .content {
        width: 100%;
        text-align: center;
        padding: 40px 40px 40px 40px;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0px 0px;
        opacity: 0.4;
    }

    .proof{
        flex-direction: column;
    }

    div {
        margin-bottom: 2.0rem;
    }

}